src/Ejercicio4dtd.DTD

        <!ELEMENT Discos (Disco+)>
        <!ELEMENT Disco (Titulo, Artista, Pais, CompaniaDiscografica, Precio, AnoPublicacion)>
        <!ELEMENT Titulo (#PCDATA)>
        <!ELEMENT Artista (#PCDATA)>
        <!ELEMENT Pais (#PCDATA)>
        <!ELEMENT CompaniaDiscografica (#PCDATA)>
        <!ELEMENT Precio (#PCDATA)>
        <!ELEMENT AnoPublicacion (#PCDATA)>
